h1(class="display-6") Productos

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
</nav>

<a href="/" class="btn btn-primary">Nuevo producto</a>

div.mt-3
    if products == ""
        div(class="alert alert-warning" role="alert") Lista de productos vacía
    else
        table(class="table")
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Nombre
                    th(scope="col") Precio
                    th(scope="col") Foto de producto 
            tbody
                each product in products
                    tr
                        th(scope="row")= product.id
                        td= product.title
                        td= product.price 
                        td
                            img(src=product.thumbnail, alt=product.title, width="25")


                            
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/productos" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item active"><a class="page-link" href="/productos">1</a></li>
                <li class="page-item"><a class="page-link" href="/productos">2</a></li>
                <li class="page-item"><a class="page-link" href="/productos">3</a></li>

                <li class="page-item">
                    <a class="page-link" href="/productos" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>